<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>${logging.path}/${app.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logging.path}/${app.name}%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS}|${app.name}|%-5level|%-20thread|%-30logger{30}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger level="info" name="io.*"/>
    <root level="error">
        <appender-ref ref="FILE"/>
    </root>

</configuration>%